<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo</title>
    <script src="./js/vue.global.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col text-end">
                <button type="button" class="btn btn-success" @click="getProduct(-1)">新增</button>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>產品名稱</th>
                <th>圖片</th>
                <th>編輯</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(p, key) in products" :key="key">
                    <td>{{p.name}}</td>
                    <td>
                        <img class="figure-img img-fluid" v-bind="imgOfAttrs"  :src="p.imageUrl">
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-success" @click="getProduct(key)">修改</button>
                        <button type="button" class="btn btn-outline-danger" @click="del(key)">刪除</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" ref="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-focus="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                          <label class="form-label">產品名稱</label>
                          <input type="text" placeholder="請輸入名稱" class="form-control" v-model="product.name">
                        </div>
                        <div class="mb-3">
                          <img :src="product.imageUrl" width="200px" class="figure-img img-fluid"><br>
                          <label class="form-label">產品圖片</label>
                          <input type="text" placeholder="請輸入網址" class="form-control" v-model="product.imageUrl">
                        </div>
                        <!-- <button type="button" class="btn btn-secondary" @click="close">取消</button>
                        <button type="button" class="btn btn-secondary" @click="updata">更新</button> -->
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="close">取消</button>
                  <button type="button" class="btn btn-primary" @click="updata">更新</button>
                </div>
              </div>
            </div>
        </div>
    </div>

    <script>
        const products = [
            {
                id: '1',
                imageUrl: 'https://www.apple.com/v/ipad-select/a/images/overview/compare_ipad_10th_gen__u0knphjoh8i6_large.jpg',
                name: 'iPad'
            },{
                id: '2',
                imageUrl: 'https://www.apple.com/v/iphone-14/d/images/overview/design/gallery_xdr_blue__e1dgjo6d86eu_large.jpg',
                name: 'iPhone 14'
            }
        ];
        
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    products,
                    bsModal:null,
                    product: {
                        id:"",
                        name:"",
                        imageUrl:""
                    },
                    imgOfAttrs:{
                        width: 50,
                        height: 50
                    }
                }
            },
            mounted() {
                this.bsModal = new bootstrap.Modal(this.$refs.modal)
            },
            methods: {
                open(){
                    this.bsModal.show();
                },
                close(){
                    this.bsModal.hide()
                },
                getProduct(index){
                    if(index == -1){
                        let maxId = 1
                        for(let i=0; i < this.products.length; i++){
                            if(parseInt(this.products[i].id) > maxId){maxId=parseInt(this.products[i].id)}
                        }

                        this.product.id = (maxId + 1) + '';
                        this.product.name = '';
                        this.product.imageUrl = '';
                    }else{
                        this.product.id = this.products[index].id;
                        this.product.name = this.products[index].name;
                        this.product.imageUrl = this.products[index].imageUrl;
                    }
                    this.open();
                },
                del(key){
                    this.products.splice(key, 1);
                },
                updata(){
                    let index = -1
                    for(let i=0; i < this.products.length; i++){
                        if(this.products[i].id == this.product.id){index = i}
                    }
                    
                    if(index > -1){
                        this.products[index].name = this.product.name;
                        this.products[index].imageUrl = this.product.imageUrl;
                    }else{
                        this.products.push({...this.product})
                    }
                    this.close( )
                }
            }
        }).mount('#app');
    </script>
</body>
</html>